#root {
  font-family: "Lucida Console", "Courier New", monospace;
  overflow: hidden;
  height: 100vh;
  --blue: #2A5791;
  --light-blue: #437F97;
  --light-cyan: #437F97;
  --light-green: #BDFC7E;

}

body {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}